@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html, body {
		max-width: 100%;
		overflow-x: hidden;
	}

	html {
		font-family: 'Manrope', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		min-height: 100vh;
	}

	.hover {
		transition: all 500ms !important;
		filter: blur(0) !important;

		/* Para arreglar el blur generado por la animación de Scale */
		backface-visibility: hidden;
		/* Esto hace que se utilice aceleración por hardware en la anim mejorandola */
		transform: translateZ();
		/* Esto se suele añadir también para compatibilidades con navegadores */
		-webkit-font-smoothing: subpixel-antialiased;
	}

	.hover:hover {
		transform: scale(.97) !important;
	}

	.tab-active {
		transition: background-color 1s;
	}

	.personal-card {
		@apply bg-neutral-content;
	}

	.personal-card h1 {
		@apply capitalize text-stone-700 text-xl;
	}

	.personal-card p {
		@apply capitalize text-stone-500;
	}

	.button {
		@apply btn btn-outline text-sm text-stone-700 hover:bg-primary hover:text-primary-content;
	}

	.scroll-animation {
		opacity: 1;
		filter: blur(5px);
		transition: all 1s;
	}

	.scroll-animation.left-animation:not(.show) {
		transform: translateX(-99%);
	}

	.scroll-animation.right-animation:not(.show) {
		transform: translateX(+99%);
	}

	.child-animation:nth-child(2) {
		transition-delay: 100ms;
	}

	.child-animation:nth-child(3) {
		transition-delay: 200ms;
	}

	.child-animation:nth-child(4) {
		transition-delay: 300ms;
	}

	.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}

	.hidden {
		display: none;
	}

	@media(prefers-reduced-motion) {
		.scroll-animation {
			transition: none;
		}
	}

}