@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
		font-family: 'Manrope';
		src: url('/fonts/Manrope.ttf');
		font-weight: bold;
		font-style: normal;
		font-display: normal;
	}

	@font-face {
		font-family: 'Monoton-Regular';
		src: url('/fonts/Monoton-Regular.ttf');
		font-weight: normal;
		font-style: normal;
		font-display: normal;
	}

	html {
		font-family: 'Manrope', system-ui, sans-serif;
	}

	body {
		min-height: 100vh;
	}

	.monoton {
		font-family: 'Monoton-Regular', sans-serif;
	}

	.hover {
        @apply transform transition duration-500 hover:scale-95
    }

	.personal-card {
		@apply bg-neutral-content;
	}

	.personal-card h1 {
		@apply capitalize text-stone-700 text-xl;
	}

	.personal-card p {
		@apply capitalize text-stone-500;
	}

	.button {
		@apply btn btn-outline text-sm;
	}
}