---

import ThemeSwap from "../UI/ThemeSwap.astro";
import Logo from "../UI/Logo.astro";

const { pathname } = Astro.url

---

<header
    x-data="{ scroll: false }"
    @scroll.window="scroll = (window.pageYOffset > window.innerHeight-100) ? true : false"
    :class="{ 'nav': scroll }"
    class="navbar w-11/12 mt-5 px-5 m-auto left-0 right-0 fixed top-0 z-10 transition-all duration-500 rounded-lg bg-neutral scroll-animation fade-animation"
    transition:persist="nav"
    transition:animate="fade"
>

    <div class="navbar-start bg-transparent text-white">
        <Logo />
    </div>

    <ul
        tabindex="0"
        class="navbar-center flex gap-8 manrope text-lg sm:text-xl text-white"
    >
        <li>
            <a class="nav-link before:bg-primary" href="/" class:list={[{ 'activeRoute': pathname === '/' }]} data-astro-reload>
                Home
            </a>
        </li>
        <li>
            <a class="nav-link before:bg-primary" class:list={[{ 'activeRoute': pathname === '/blog' }]} href="/blog" data-astro-reload>
                Blog
            </a>
        </li>
    </ul>

    <div class="navbar-end bg-transparent text-white">
        <ThemeSwap />
    </div>
</header>

<style>

    .nav {
        opacity: 0;
    }

    .nav-link {
        position: relative;

        z-index: 0;

        filter: drop-shadow(rgb(85, 85, 85) 2px 2px);
    }

    .nav-link::before {
        content: '';
        position: absolute;

        opacity: 0;
        width: 0%;
        height: 5px;

        z-index: -1;

        bottom: 0;

        transform: translate(15px, 5px);

        transition: width .1s linear;
    }

    .nav-link:hover:before {
        opacity: 1 !important;
        width: 100%;
    }

    .activeRoute::before {
        opacity: 1 !important;
        width: 50%;
    }
    
</style>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
is:inline></script>
