---

import Layout from "../layouts/Layout.astro"

import Header from "../components/structural/Header.astro"
---

<Layout title="Bienvenido a mi web">

    <Header />

    <main class="min-w-screen min-h-screen text-center flex flex-col items-center justify-center">
        <h1 class="text-3xl">In Development! 🚀</h1>
        <p>Stay tuned for more</p>
    </main>
    
</Layout>