---

import Layout from "../layouts/Layout.astro";

import Header from "../components/structural/Header.astro";

import Landing from "../components/structural/Landing.astro";
import About from "../components/structural/About.astro";

import Experience from "../components/structural/Experience.vue";

import Tecnologies from "../components/structural/Tecnologies.vue"

import Projects from "../components/structural/Projects.vue";

import Footer from "../components/structural/Footer.astro";

---

<Layout title="Bienvenido a mi web">

    <Header />

    <Landing />

    <About />

    <main class="flex flex-col my-16 gap-5">
        <Experience client:visible />
        <Tecnologies client:visible />
        <Projects client:visible />
    </main>
    <Footer />
</Layout>
