---
import Layout from "../../layouts/Layout.astro"

import Header from "../../components/structural/Header.astro";

import { type Experience } from "../../types";

const { id } = Astro.params

let data: Experience | undefined = undefined;

console.log(id)

try {
    const response = await fetch(`${import.meta.env.PUBLIC_API}/api/projects`);
    data = await response.json();
    console.log(data)
} catch(e) {
    console.log(e)
}

---

<Layout title="Experience">

    <Header />
    
    <h1>Experience</h1>

</Layout>