---

import '../styles/main.css'

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
	</head>
	<body>
		<!-- <Preloader /> -->
		<div id="main-content">
			<slot  />
		</div>
	</body>
</html>

<script is:inline>

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {

            if (entry.isIntersecting) {
                entry.target.classList.add('show')
            } else {
                entry.target.classList.remove('show')
            }
        })
    })

    const entries = document.querySelectorAll('.scroll-animation')
    entries.forEach(entry => observer.observe(entry));
	
</script>