---
import type { Project } from "../../types";

interface Props {
  project: Project;
}

const { project } = Astro.props;

const projectDescription = project.PersonalProject
  ? project.PersonalProject.title
  : project.PrivateProject?.title;
---

<div class="card w-full hover personal-card">
  <div class="card-body">
    <h2 class="card-title">{project.name}</h2>
    <p>{projectDescription}</p>
    <div class="card-actions justify-end">
      <button class="button">See more</button>
    </div>
  </div>
</div>
