---
import type { Project } from '../../types'

interface Props {
  project: Project
}

const { project } = Astro.props;

const projectDescription = project.PersonalProject ? project.PersonalProject.title: project.PrivateProject?.title;

const projectImage = project.PersonalProject ? project.PersonalProject.image : "";

---

<article class="card image-full w-full shadow-xl hover personal-card">
    <figure>
      <img
        src={projectImage}
        alt="Project image" />
    </figure>
    <div class="card-body">
      <h1>{project.name}</h1>
      <p>{projectDescription}</p>
      <div class="card-actions justify-end">
        <button class="button">See more</button>
      </div>
    </div>
  </article>