---
import type { Project } from "../../types";

interface Props {
  project: Project;
}

const { project } = Astro.props;

const projectDescription = project.PersonalProject
  ? project.PersonalProject.title
  : project.PrivateProject?.title;
---

<article class="card w-full hover personal-card">
  <div class="card-body">
    <h1>{project.name}</h1>
    <p>{projectDescription}</p>
    <div class="card-actions justify-end">
      <a href=`/project/${project.id}` class="button">See more</a>
    </div>
  </div>
</article>
