---
import type { Tecnologies } from '../../types'

import X from '../../icons/X.astro'

import Columns from './Columns.astro'

interface Props {
    data: Tecnologies[]
}

const { data } = Astro.props

---

<Columns>
    { data.map(item => {
        return <div class="card shadow-xl hover personal-card scroll-animation right-animation child-animation">
                    <div class="card-body">
                        <a class="btn btn-ghost dark:btn-outline outline-primary outline-dashed border-0 hover:bg-primary hover:outline-double min-h-20" href={item.site}>
                            <img src={item.logo} class="object-contain h-full"/>
                        </a>
                        <h1>{item.name}</h1>
                        <p>{item.description?.slice(0, 150)}</p>
                        <div class="card-actions justify-end items-center">
                            <X link={item.twitter || ""} />
                        </div>
                    </div>
                </div>
    })}

    {() => {
        if (data.length === 0) {
            return <h1 class="m-auto">No info at the moment, come back later please.</h1>
        }
    }}

    
</Columns>
