---
import type { Tecnologies } from '../../types'

import X from '../../icons/X.astro'

import Columns from './Columns.astro'

interface Props {
    data: Tecnologies[]
}

const { data } = Astro.props

---

<Columns>
    { data.map(item => {
        return <div class="card shadow-xl hover personal-card">
                    <div class="card-body">
                        <a class="btn btn-outline-primary outline-dashed hover:bg-primary hover:outline-current min-h-36" href={item.site}>
                            <img src={item.logo} class="w-full h-auto"/>
                        </a>
                        <h1>{item.name}</h1>
                        <p>{item.description?.slice(0, 150)}</p>
                        <div class="card-actions justify-end items-center">
                            <X link={item.twitter || ""} />
                        </div>
                    </div>
                </div>
    })}

    
</Columns>
